.slides {
  overflow: hidden;
  position: relative;
}
.slides ul,
.slides li {
  box-sizing: border-box;
}
.slides ul {
  width: 300%;
  animation-duration: 10000ms;
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
}
.slides ul:before,
.slides ul:after {
  content: '';
  display: table;
}
.slides ul:after {
  clear: both;
}
.slides li {
  background-color: #000;
  padding: 1em;
  float: left;
  width: 33.33333333%;
}
/*.slides li:nth-child(1) {
  background-color: #7effa2;
}
.slides li:nth-child(2) {
  background-color: #ffcdff;
}
.slides li:nth-child(3) {
  background-color: #ffe48f;
}*/

@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0%;
  }
  30% {
    margin-left: -100%;
  }
  70% {
    margin-left: -100%;
  }
  80% {
    margin-left: -200%;
  }
  100% {
    margin-left: -200%;
  }
}